* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: montserrat;
}

/* https://material.io/color/#!/?view.left=0&view.right=0&primary.color=FAFAFA&secondary.color=9FA8DA&secondary.text.color=212121 */

/* palette*/

.ptext-color {
  color: #424242 !important;
}

.stext-color {
  color: #fafafa !important;
}

.primary-color {
  background-color: #fafafa !important;
}

.plight-color {
  background-color: #ffffff !important;
}

.pdark-color {
  background-color: #c7c7c7 !important;
}

.secondary-color {
  background-color: #9fa8da !important;
}

.slight-color {
  background-color: #d1d9ff !important;
}

.sdark-color {
  background-color: #6f79a8 !important;
}

/*font*/

.font-var {
  font-variant: small-caps;
}

.user-content {
  font-size: 0.8 rem;
}

/* heigth and width */

.vh-100 {
  height: 100vh;
}

.vh-30 {
  height: 30vh;
  width: 40vw;
}

/* padding and margin */

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 2rem;
}

.p-container {
  padding: 1rem;
}

/* ------------------- */

nav .navbar-list .navbar-elements {
  color: #fafafa;
}

.b-gradient {
  background: linear-gradient(to bottom, rgba(193, 191, 234, 1) 0%, rgba(206, 199, 236, 1) 42%, rgba(216, 208, 239, 1) 54%, rgba(235, 233, 249, 1) 94%, rgba(235, 233, 249, 1) 100%);
}

.wave {
  opacity: .4;
  position: absolute;
  top: -13%;
  left: 26%;
  background: #ffffff;
  width: 922px;
  height: 740px;
  margin-left: -250px;
  margin-top: -250px;
  transform-origin: 50% 48%;
  border-radius: 43%;
  animation: drift 3000ms infinite linear;
}

.wave.-three {
  animation: drift 5000ms infinite linear;
}

.wave.-two {
  animation: drift 7000ms infinite linear;
  opacity: .1;
  background: #ee6e73;
}

.user-presentation {
  border-radius: 5px;
  box-shadow: 0 2px 30px rgba(black, .2);
  background: lighten(#f0f4c3, 10%);
  position: relative;
  overflow: hidden;
  transform: translate 3d(0, 0, 0);
}

.user-presentation:after {
  content: '';
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(#e8a, 1), rgba(#def, 0) 80%, rgba(white, .5));
  z-index: 11;
  transform: translate 3d(0, 0, 0);
}

.user-info {
  position: absolute;
  left: 23px;
  top: 54px;
  z-index: 1;
  text-align: center;
  transform: translate3d(0, 0, 0);
  text-transform: uppercase;
  letter-spacing: .4em;
  font-size: 24px;
  text-shadow: 0 1px 0 rgba(black, .1);
  text-indent: .3em;
}

@keyframes drift {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}

/* scroll section */

#section03 a {
  padding-top: 60px;
}

#section03 a span {
  position: absolute;
  top:85%;
  left: 50%;
  width: 46px;
  height: 46px;
  margin-left: -23px;
  border: 1px solid #fff;
  border-radius: 100%;
  box-sizing: border-box;
}

#section03 a span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  width: 16px;
  height: 16px;
  margin: -12px 0 0 -8px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}

#section03 a span::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  content: '';
  width: 44px;
  height: 44px;
  box-shadow: 0 0 0 0 rgba(255, 255, 255, .1);
  border-radius: 100%;
  opacity: 0;
  -webkit-animation: sdb03 3s infinite;
  animation: sdb03 3s infinite;
  box-sizing: border-box;
}

@-webkit-keyframes sdb03 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(255, 255, 255, .1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes sdb03 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(255, 255, 255, .1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/* media querie */

@media only screen and (min-width :280px) {}

@media only screen and (min-width:768px) {
  .p-container {
    padding: 13.7rem 3.7rem;
  }
  .user-info {
    padding: 3rem 0;
  }
  .user-content {
    font-size: .5 rem;
  }
  .vh-30 {
    height: 30vh;
    width: 40vw;
  }
}